* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainDisplayDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel {
  background-color: #f2f2f2;
  min-width: 50vw;
  min-height: 50vh;
  padding: 2vh 1.05%;
  box-shadow: 26px 26px 30px -26px #888888;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  margin-bottom: 1vh;
  max-width: 50vw;
}

.description > p {
  margin: 1vh 0vw;
}

fieldset {
  min-width: 408px;
  overflow: hidden;
}

fieldset,
.description {
  font-size: 1.1em;
}

select#experienceDropdown {
  padding: 0.8%;
}

hr {
  min-height: 3px;
}

.fieldsetElement {
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

.fieldsetElementJr {
  margin: 0.8vh 0.4vw;
  font-size: 0.95em;
}

textarea[name="comments"] {
  min-width: 100%;
  min-height: 125px;
  border: 1px solid black;
  font-size: 1.1em;
}

.requiredUserInput{
  border: 1px solid black;
  margin-top: 0.5vh;
  font-size: 1.0em;
  border-radius: 3.5px;
  padding-left: 4px;
}

.inputValid{
  border: 1.2px solid green;
}

.inputInvalid{
  border: 1.2px solid red;
}


.trainingCheckbox{
  margin-bottom: 0.9vh;
}

.buttonClass {
  margin: 1.33vh 1.33vw;
  max-width: 116px;
  white-space: nowrap;
  min-width: 76px;
  min-height: 24px;
  background-color: #ecd4ff;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  font-size: 0.9em;
}

.buttonClass:hover {
  background-color: #ddb3ff;
}

#flexDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5vh;
  max-height: 5vh;
  align-self: flex-start;
}

.minimizedPanel {
  background-color: #fff8e0;
  min-height: 35px;
  margin-right: 0.6vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0vh 0.5vw;
}

.minimizedPanel:hover {
  background-color: #ffedb3;
}

.minimizedPanel p {
  font-size: 0.9em;
}

#submittedDisplay {
  align-self: center;
  min-width: 95vw;
  background: rgba(0, 0, 0, 0.75);
  top: 2vh;
  min-height: 95vh;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submittedDisplay p {
  color: white;
  font-size: 1.8em;
  text-align: center;
}

.fa-check-circle {
  color: #00e600;
}

@media screen and (max-width: 499px) {
  .minimizedPanel {
    max-height: 6vh;
    min-height: 2vh;
    padding: 0vh 2vw;
  }

  .panel {
    min-width: 235px;
    min-height: 60vh;
    max-width: 90vw;
    margin: auto;
    box-shadow: unset;
  }

  .panel fieldset,
  .description {
    font-size: 1em;
    max-width: 300px;
  }

  fieldset {
    min-width: 40vw;
  }

  .buttonClass p {
    font-size: 0.9em;
    margin: 1.5vh 1.5vw;
  }
}

@media screen and (min-width: 500px) and (max-height:540px) {
 
   #flexDiv {
     margin-bottom: 10vh;
  }
  
}